
body {
    margin: 0;
    padding: 0;
}

.banner-container {
    background-color: black;
    display: flex;
    align-items: row;
    justify-content: center;
    height: 300px;
    width: 100vw;
}

h3 {
    color: #fff
}