
.banner-container {
    background-color: #291014;
    background-color: #140e1d;
    /* background-color: #160f1b; */
    display: flex;
    align-items: row;
    justify-content: center;
    height: 300px;
    width: 100vw;
}

h3 {
    color: #fff
}