.landing-container {
    background: #faf9f5;
    display: flex;
    align-items: row;
    justify-content: center;
    height: 400px;
    width: 100vw;
    padding-top: 175px;
    /* border: solid 1px rgb(45, 45, 45) */

}

.landing-image img {
    max-height: 55%;
    max-width: 100%;
    padding-right: 25px;
}

.landing-image {
    max-width: 33%;
}

.content-wrapper {
    max-width: 780px;
}

h2 {
    font-family: 'M PLUS 1p', sans-serif
}

p {
    font-size: 1em;
    font-family: 'M PLUS 1p', sans-serif
}

button {
    color: rgb(184, 31, 31);
}