.main-container {
    display: flex;
    align-items: column;
    height: 400px;
    background-color: red
}

.animate__fadeInLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}
.animate__fadeInRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container img {
    height: 100px;
    width: 100px;
}

.second-container {
    display: flex;
    justify-content: column;
    height: 400px;
    background-color: blue;

}

.animate__fadeInLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}
.animate__fadeInRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-container img {
    height: 100px;
    width: 100px;
}

.third-container {
    display: flex;
    justify-content: column;
    height: 400px;
    background-color: rgb(255, 234, 0);

}

.animate__fadeInLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}
.animate__fadeInRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.third-container img {
    height: 100px;
    width: 100px;
}