.main-container {
    background-color: #fff;
}

.products {
    display: flex;
    /* align-items: row; */
    margin: 20px;
    margin-top: 150px;
    background-color: red;
    overflow: hidden;
    height: 250px;
    max-height: 35vh;
    box-shadow: 0 12px 10px -6px #fff;
    border-radius: 10px;
}
.products-data {
    margin: 20px;
    background-color: red;
    overflow: hidden;
    height: 200px;
    max-height: 35vh;
    box-shadow: 0 12px 10px -6px #fff;
    border-radius: 10px;
}
.products-image {
    margin: 20px;
    background-color: red;
    overflow: hidden;
    height: 200px;
    max-height: 35vh;
    box-shadow: 0 12px 10px -6px #fff;
    border-radius: 10px;
}

.grids {
    max-width: 50%;
    margin: auto;
}