.nav .menu-item {
    display: flex;
    align-items: row;
    font-family: 'M PLUS 1p', sans-serif;
    width: 100%;
    cursor: pointer;

    
}

.logo {
    cursor: pointer;
    align-items: center;
    height: 50px;
    width: 50px;
    padding-left: 20px;
    border-radius: 50%;
}

.nav {
    position: sticky;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    font-family: 'M PLUS 1p', sans-serif;
    background-color: #140e1d;  
    
}

.nav-home {
    padding: 25px;
    color: #fff;
    
}

.nav-home:hover {
    color: #41a891
}
.nav-shop {
    padding: 25px;
    color: #fff
}
.nav-shop:hover {
    color: #41a891;
}
.nav-contact {
    padding: 25px;
    color: #fff;
}
.nav-contact:hover {
    color: #41a891;
}
.nav-login {
    padding: 25px;
    color: #fff;
}
.nav-login:hover {
    color: #41a891;
}
.nav-cart {
    padding: 25px;
    color: #fff;
    float: right;
}
.nav-cart:hover {
    color: #41a891;
}

/* drop down menu styling */


@media only screen and (min-width: 768px) {
    .nav button {
        display: none;
    }
    .menu-dropdown {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .nav .menu-item {
        display: none;
    }

    .nav button {
        display: flex;
    }
   
}

.nav button {
    margin: 20px;
}

 .menu-dropdown .dropdown {
    position: absolute;
    left: 0;
    top: 80px;
    height: 450px;
    max-height: 450px;
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-dropdown.inactive {
    display: none;
}

.toggle-button {
    cursor: pointer;
    color: #fff
}
