ul {
    display: flex;
    align-items: column;
    list-style: none;
    font-family: 'M PLUS 1p', sans-serif;
    width: 100%;
    cursor: pointer;
    
}

.logo {
    cursor: pointer;
    align-items: center;
}

.nav {
    position: sticky;
    display: flex;
    align-items: center;
    width: 100%;
    font-family: 'M PLUS 1p', sans-serif;
    background-color: rgb(184, 31, 31);
    
    
}

.cart {
    float: right;
    cursor: pointer;
    align-items: center;
}