ul {
    display: flex;
    align-items: column;
    list-style: none;
    font-family: 'M PLUS 1p', sans-serif;
    width: 100%;
    cursor: pointer;
    float: right;
    
}

.logo {
    cursor: pointer;
    align-items: center;
    height: 50px;
    width: 50px;
    padding-left: 20px;
    border-radius: 50%;
}

.nav {
    position: sticky;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    font-family: 'M PLUS 1p', sans-serif;
    background-color: rgb(184, 31, 31);  
    
}

.nav-home {
    padding: 25px;
}

.nav-home:hover {
    color: #fff;
}
.nav-shop {
    padding: 25px;
}
.nav-shop:hover {
    color: #fff;
}
.nav-contact {
    padding: 25px;
}
.nav-contact:hover {
    color: #fff;
}
.nav-login {
    padding: 25px;
}
.nav-login:hover {
    color: #fff;
}
.nav-cart {
    padding: 25px;
    float: right;
}
.nav-cart:hover {
    color: #fff;
}