.side-menu {
    position: fixed;
    background: #000;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 20px;
    transition: width 200ms ease-in
}

.side-menu.inactive {
    width: 80px;
}

.side-menu .logo {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
}

.side-menu .top-section {
    position: relative;
}

.side-menu .logo img {
    max-width: 100%;
    max-height: 100%;
}

.side-menu .top-section .toggle-menu-btn {
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    cursor: pointer;
}

.side-menu.inactive .top-section .toggle-menu-btn {
    right: -50px;
    cursor: pointer;
}

.side-menu .main-menu .menu-item {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    display: block;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.divider {
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background: #333;
    margin-top: 25px;
}

li {
    list-style: none;
}

.nav-text {
    padding: 25px 0;
}

